<h1> My name is <%= @name %> </h1>

<div>
  <!-- <form mthod="get"> -->
    <!-- <input type="text" name=  -->
  <!-- </form> -->
     <img  style='border: 3px dashed green'src='http://bit.ly/1eze8aE'>
   </div>
