<!-- <form action="cgi-bin/test.cgi" method="get"> -->
<form>
  <input type="text" name="first" />
  <input type="text" name="second" />
  <input type="submit" />
</form>
<!-- /cgi-bin/test.cgi?first=test&second=name -->
<!-- train_test?first=firsst+field&second=second+field -->
